/* Pré-section */

#preSection {
    position: relative;

    h2 {
        font-size: 35px;
        font-family: $font-family;
    }
    img {
        padding-top: 40px;
        width: 100%;
        height: 514px;
        object-fit: cover;
    }
    .insert {
        position: absolute;
        left: 100px;
        top: 130px;
        width: 400px;
        height: 250px;
        background-color: white;
        padding: 35px;
        border: solid $grey-color 1px;
        border-radius: 5px;
        button {
            @include button();
            margin-top: 40px;
            font-size: 15px;
        }
    }
}

/* photos items */

#offers {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 05px;

    .user {
        width: 230px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        align-items: center;

        .avatar {
            height: 25px;
            margin-right: 20px;
        }
        .userName {
            font-family: $font-family;
            font-size: 12px;
            color: rgb(126, 122, 122);
            letter-spacing: 0.1rem;
            text-decoration: none;
        }
    }
    #itemImg {
        width: 230px;
        height: 360px;
        object-fit: cover;
    }
}
