.pages {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: $font-family;
    color: $blue-color;

    button {
        @include button;
        background-color: white;
        color: $blue-color;
        // height: 20px;
        font-size: 15px;
    }

    span {
        margin: 20px;
    }
}
