@charset "UTF-8";
/* Other rules */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  /* border: solid black 1px; */
  /* background-color: hotpink; */
  margin: 0 auto;
  width: 1254px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header input {
  width: 585px;
  height: 36px;
  border: none;
  background-color: #f5f6f7;
  padding: 10px;
  font-size: 15px;
}

.header button {
  height: 27px;
  border: 1px #0eaeb7 solid;
  background-color: white;
  color: #0eaeb7;
  border-radius: 5px;
  font-size: 12px;
}

.header .sell {
  background-color: #0eaeb7;
  color: white;
}

.header .logo {
  height: 35px;
}

.line {
  border-bottom: #f5f6f7 solid 1px;
}

/* Pré-section */
#preSection {
  position: relative;
}

#preSection h2 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}

#preSection img {
  padding-top: 40px;
  width: 100%;
  height: 514px;
  -o-object-fit: cover;
     object-fit: cover;
}

#preSection .insert {
  position: absolute;
  left: 100px;
  top: 130px;
  width: 400px;
  height: 250px;
  background-color: white;
  padding: 35px;
  border: solid #f5f6f7 1px;
  border-radius: 5px;
  /* background-color: white; */
}

#preSection .insert button {
  background-color: #0eaeb7;
  color: white;
  height: 44px;
  width: 188px;
  border: 1px #0eaeb7 solid;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 40px;
}

/* photos items */
#offers {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 05px;
}

#offers .user {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#offers .user .avatar {
  height: 25px;
  margin-right: 20px;
}

#offers .user .userName {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #7e7a7a;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

#offers #itemImg {
  width: 230px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*  OFFER PAGE */
#offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#offer img {
  background-color: burlywood;
  width: calc(50% - 100px);
  /* height: 400px; */
  margin: 0 50px;
  /* object-fit; */
}

#offer .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 100px;
}

#offer #itemDescription {
  border-bottom: lightgray solid 1px;
  /* background-color: red; */
  padding-bottom: 50px;
}

#offer #itemDescription #price {
  margin-bottom: 20px;
}

#offer #itemDescription #owner {
  margin-top: 20px;
}

/* MODALS -> SIGNUP AND LOGIN */
.behindModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-color: white;
  z-index: 6;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=App.css.map */