/* Other rules */

.container {
    border: solid black 1px;
    /* background-color: hotpink; */
    margin: 0 auto;
    width: 1024px;
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}

.header input {
    width: 400px;
}

.logo {
    height: 35px;
}

/* Pré-section */

#preSection {
    background-color: black;
}

#preSection > div {
    position: relative;
    background-color: white;
}

/* carrousel */

#offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#offers > div {
    border: black 1px solid;
    margin: 20px;
}

#offers img {
    width: 200px;
}

/*  OFFER PAGE */

#offer {
    display: flex;
    flex-direction: row;
}

#offer img {
    background-color: burlywood;
    width: calc(50% - 100px);
    /* height: 400px; */

    margin: 0 50px;
    /* object-fit; */
}

#offer .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px;
}

#itemDescription {
    border-bottom: lightgray solid 1px;
    /* background-color: red; */
    /* padding: 30px; */
}
