/* Other rules */

.container {
    border: solid black 1px;
    /* background-color: hotpink; */
    margin: 0 auto;
    width: 1024px;
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}

.header input {
    width: 400px;
}

.logo {
    height: 35px;
}

/* Pré-section */

#preSection {
    background-color: black;
}

#preSection > div {
    position: relative;
    background-color: white;
}

/* carrousel */

#offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#offers > div {
    border: black 1px solid;
    margin: 20px;
}

#offers img {
    width: 200px;
}
